    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://dl.dropboxusercontent.com/u/9485125/project_blog/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About this Blog</h1>
                        <hr class="small">
                        <span class="subheading">This blog is a collection of projects...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>This Blog was set up to store family projects in one place. This makes it easier to track these projects and share them if neccessary.</p>
                <p>All posts are stored in an database. The article can be styled using HTML.</p>
                <p>Each project has a title and subtitle and of course a description. Images and links to other sources can be added as well. Have fun!</p>
            </div>
        </div>
    </div>
